body{
}

.main{
    width: 375px;
    height: 2500px;
    grid-template-rows: 24% 18% 16% 22% 30%;
    justify-content: center;
    display: grid;
    font-size:18px;
    grid-template-columns: 95%;
    background: #FFDDE1;
}

.danmain{
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    width: 350px;
    text-align: center;
    color: white;
}

.opacity{
    margin-top: 30px;
    opacity: 0.5;
}

h6{
    background: blue;
    width: 20px;
    display: inline-block;
    position: relative;
    margin-left: 30px;
    height: 20px;
    border-radius: 50%;
}

h2{

    display: inline;
}

.h2{
    margin-left: 55px;
}

.main2{
    margin-top: 50px;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 350px;
    background-color: hsl(217, 19%, 35%);
}

.main3{
    margin-top: 50px;
    color: black;
    text-align: center;
    border-radius: 10px;
    width: 350px;
    background-color: white;
}

.main4{
    margin-top: 50px;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 350px;
    background-color: hsl(219, 29%, 14%);
}

.main5{
    margin-top: 50px;
    color: black;
    text-align: center;
    border-radius: 10px;
    width: 350px;
    background-color: white;
}

@media (min-width:375px) and (max-width:1440px)
{
    body{
}

.main{
    width: 1200px;
    height: 2500px;
    grid-template-rows: 24% 15% 16% 22% 23%;
}

.danmain{
    width: 1000px;


}

.h6{
    background: blue;
    width: 20px;


    display: inline-block;






    position: relative;
    margin-left: 30px;
    height: 20px;
    border-radius: 50%;
}

h2{

    display: inline;
}

.h2{
    margin-left: 55px;
}

.main2{
    margin-top: 50px;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    background-color: hsl(217, 19%, 35%);
}

.main3{
    margin-top: 50px;
    color: black;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    background-color: white;
}

.main4{
    margin-top: 50px;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    background-color: hsl(219, 29%, 14%);
}

.main5{
    margin-top: 50px;
    color: black;
    text-align: center;
    border-radius: 10px;
    width: 1000px;
    background-color: white;
}
}